{% extends 'auth_app/base-auth.html' %}
{% load i18n %}


{% block content %}
    <div class="header">
        <h3 class="sign-in">{% translate 'Восстановление пароля (2/2)' %}</h3>
        <h5>{% translate 'Придумайте новый пароль для учетной записи' %}</h5>
    </div>

    <form action="{% url 'auth_app:restore_password' %}" method="post">
        <div>
            <input type="password" name="pass" id="name" placeholder="Пароль" />
        </div>
        <div>
            <input type="submit" value="Сохранить пароль" />
        </div>
    </form>
{% endblock content %}