{% extends 'core/base.html' %}
{% load i18n %}
{% load static %}


{% block content_body %}
<div class="Middle">
  <div class="wrap">
    <div class="Product">
      <div class="ProductCard">
        {% for product in compare_list %}
        <div class="ProductCard-desc">
          <div class="ProductCard-header">
            <h2 class="ProductCard-title">{{ product.product.title }}
            </h2>
            <div class="ProductCard-look">
              <div class="ProductCard-photo">
                <img src="{{ product.product.image.all.0.image.url }}" alt="bigGoods.png">
              </div>
            </div>

            <div class="Tabs Tabs_default">
              <div class="Tabs-wrap">
                <div class="Tabs-block" id="description">
                  <div class="table">
                    <table>
                      <tr>
                        <th class="hed">{% trans 'Characteristic' %}</th>
                        <th class="hed">{% trans 'Value' %}</th>
                      </tr>
                      <tr>
                        <td><b>{% trans 'General parameters' %}</b></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td class="comparis">{% trans 'Type' %}</td>
                        <td class="comparis">{{ product.product.category.title }}</td>
                      </tr>
                      <tr>
                        <td>{% trans 'Model' %}</td>
                        <td>{{ product.product.name }}</td>
                      </tr>

                      {% for char in product.product.category.characteristictype_set.all %}

<!--                        <tr>-->
<!--                          <td class="comparis">Плотность пикселей</td>-->
<!--                          <td class="comparis">156 ppi</td>-->
<!--                        </tr>-->

                        <tr>
                          <td>{{ char.name }}</td>
                          {% for value in product.product.characteristics.all %}
                            {% if char.id == value.characteristic_value.characteristic_type.id%}
                              <td>{{ value.characteristic_value.value }}</td>
                            {% endif %}
                          {% endfor %}
                        </tr>

                      {% endfor %}

                    </table>
                  </div>
                </div>

              </div>
            </div>

          </div>
          <div class="ProductCard-info">
            <div class="ProductCard-cost">
              <div class="ProductCard-price">$55.00
              </div>
            </div>
          </div>
          <div class="ProductCard-cart">

            <div class="ProductCard-cartElement">
              <a class="btn btn_primary" href="../cart/cart.html">
                <img class="btn-icon" src="{% static '/assets/img/icons/card/cart_white.svg' %}" alt="cart_white.svg">
                <span class="btn-content">Добавить в корзину</span>
              </a>
            </div>
          </div>

        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content_body%}